app/etc/local.xml
app/etc/local.xml.phpunit
.idea/*

/nbproject/private/

/.sass-cache/
*.scssc
vendor/*

Thumbs.db
.DS_Store

*.sublime-project
*.sublime-workspace
*.php

/app/code/*
/app/design/adminhtml*
/app/design/frontend/base/*
/app/design/frontend/enterprise/default/*
/app/design/frontend/enterprise/iphone/*
/app/design/frontend/rwd/*
/app/design/install*
/app/etc/*
/app/locale/*
/downloader/*
/errors/*
/js/*
/lib/*
/media/*
/pkginfo/*
/shell/*
/skin/adminhtml/*
/skin/frontend/base/*
/skin/frontend/enterprise/default/*
/skin/frontend/enterprise/iphone/*
/skin/frontend/rwd/*
/skin/install/*
/var/*