Thumbs.db
.DS_Store
.htaccess
*.scssc
*.sublime-project
*.sublime-workspace
*.php

cron.sh
mage

/.sass-cache/
/app/code/
/app/design/adminhtml/
/app/design/frontend/base/
/app/design/frontend/enterprise/default/
/app/design/frontend/enterprise/iphone/
/app/design/frontend/rwd/
/app/design/install/
/app/etc/
/app/locale/
/downloader/
/errors/
/includes/
/js/
/lib/
/media/
/pkginfo/
/shell/
/skin/adminhtml/
/skin/frontend/base/
/skin/frontend/enterprise/default/
/skin/frontend/enterprise/iphone/
/skin/frontend/rwd/
/skin/install/
/var/
