//Base Forms

@import "core/basevariables";

input,
textarea,
select,
button {
	border: 1px solid $color-form-inputs-border;
	color: $color-form-inputs;
	background-color: $color-form-inputs-bg;
}
input[type="radio"],
input[type="checkbox"]{
	border: 0;
	background-color: transparent;
}
input:focus,
textarea:focus,
select:focus,
button:focus {
	outline: 1px dotted $color-form-inputs-select;
}
input[type="radio"]:focus {
	outline: none;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"] {
	padding: 0.25em;
	max-width: 100%;
}
label {
	display: block;
}
.form-list {
	overflow: hidden;
	li {
		vertical-align: top;
	}
}
.fieldset {
	.legend {
		margin: 0 0 1em 0;
	}
	.form-list {
		margin: 0.75em 0;
	}
}
.input-box {
	position: relative;
}
.form-list {
	li {
		margin-bottom: 0.5em;
		.validation-advice {
			margin: 0;
		}
	}
	.fields {
		margin-bottom: 0;
	}
	.input-text,
	select {
		width: 100%;
	}
	.control {
		padding: 0.25em 0;
		label,
		.input-box {
			display: inline-block;
			vertical-align: middle;
		}
		label {
			margin-right: 0.5em;
		}
	}

	.field {
		margin-bottom: 0.75em;
	}
}
.input-box,
.date-input {
	.input-text,
	select {
		padding: 0.25em;
	}
}

.buttons-set {
	@include simple-clearfix;
}

.validation-advice {
	margin: 0 0 0 1em;
	font-size: 0.95em;
	line-height: 2em;
	color: $color-validation-advice;
}

.validation-failed {
	border-color: $color-validation-failed-border;
}

.link-tip {
	font-size: 0.8em;
	vertical-align: super;
}

div.validation-error,
span.validation-error,
div.validation-passed,
span.validation-passed, {
	&:after {
		@include inline-block(middle);
		position: absolute;
		top: 0.2em;
		right: 0;
	}
	.input-text,
	select,
	textarea {
		@include inline-block(middle);
		width: 90%;
	}
}

div.validation-error,
span.validation-error {
	&:after {
		content: $background-validation-error;
	}
}

div.validation-passed,
span.validation-passed {
	&:after {
		content: $background-validation-success;
	}
}

.qty,
.cvv {
	width: 2.5em;
}

@include breakpoint($screen-size-medium-and-up) {
	.form-list {
		.input-box {
			.range {
				.input-text {
					max-width: 5em;
				}
			}
		}
		.field {
			@include simple-clearfix;
		}
		.control {
			label,
			.input-box {
				width: auto;
			}
		}
	}

}