//Core Variables

$width-content-max: 75em;

$color-message-required: #f00;

$color-message-demo: #fff;
$color-message-demo-bg: #d75f07;

$color-message-global: #444;
$color-message-global-border: #eee2be;
$background-message-global: #fff9e9 url("images/icons/ico_alert.png") 2em 5px no-repeat;

$color-message-success: #3d6611;
$color-message-success-bg: #eff5ea;
$color-message-success-border: #95a486;

$color-message-error: #f00;
$color-message-error-bg: #fee;
$color-message-error-border: #f00;

$color-message-notice: #cdad00;
$color-message-notice-bg: #ffe;
$color-message-notice-border: #ffd700;

$color-validation-advice: #f00;
$color-validation-required: #f00;
$color-validation-failed-border: #f00;

$color-checkout-wait: #f00;
$color-checkout-wait-bg: #fff;
$color-checkout-wait-border: #f00;

$color-form-inputs: #000;
$color-form-inputs-bg: #fff;
$color-form-inputs-border: #ccc;
$color-form-inputs-select: #f00;

$background-validation-success: url("../images/ico_ok_msg.png");
$background-validation-error: url("../images/ico_error_msg.png");

$font-family-core-serif: "Georgia", serif;
$font-family-core-sans-serif: "Arial", sans-serif;

$screen-size-small-and-down: "screen and (max-width: " + pxToEm(459) + ")";
$screen-size-small-and-up: "screen and (min-width: " + pxToEm(460) + ")";
$screen-size-medium-and-down: "screen and (max-width: " + pxToEm(799) + ")";
$screen-size-medium-and-up: "screen and (min-width: " + pxToEm(800) + ")";
$screen-size-large-and-down: "screen and (max-width: " + pxToEm(1023) + ")";
$screen-size-large-and-up: "screen and (min-width: " + pxToEm(1024) + ")";