//Base Reset
@media screen {
	@viewport {
		width: device-width;
		zoom: 1;
		max-zoom: 1;
		user-zoom: fixed;
	}
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	padding: 0;
	margin: 0;
	@include rem('font-size', 1.6rem);
	line-height: 120%;
	word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin:  0 0 1em 0;
	padding: 0;
	line-height: 1.2;
}

a {
	text-decoration: none;
}

p {
	margin: 0 0 0.5em 0;
}

img {
	max-width: 100%;
	height: auto;
	border: 0;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

a,
input,
textarea,
select,
button,
label {
	cursor: pointer;
}

textarea {
	resize: none;
}

ul,
ol {
	list-style: none;
	padding: 0;
	margin: 0;
	li {
		list-style: none;
	}
}

dl,
dd {
	margin: 0;
}

address {
	font-style: normal;
}

fieldset {
	padding: 0;
	margin: 0;
	border: 0;
}