//Theme Specific Variables

//-Sizes
$width-frame-max: 80em;
$font-base-size: 1em;

//-Colors
$color-white: #fefefe;
$color-black: #010101;
$color-gray-lighter: #ececec;
$color-gray-light: #dcdddf;
$color-gray-medium: #888;
$color-gray-dark: #272727;

$color-red-medium: #b81237;
$color-red-light: lighten($color-red-medium, 5%);
$color-red-dark: darken($color-red-medium, 5%);

//-Derived Colors

$color-link: $color-red-medium;

$color-body: $color-gray-dark;
$color-body-bg: $color-white;
$color-logo: $color-white;

$color-nav-bg: $color-gray-dark;
$color-nav-parent: $color-white;
$color-nav-border: $color-gray-medium;

$color-header-bg: $color-white;
$color-header-link: $color-gray-medium;

$color-searchbox: $color-gray-dark;
$color-searchbox-bg: $color-white;
$color-searchbox-border: $color-gray-light;
$color-searchbox-icon: $color-white;
$color-searchbox-button-bg: $color-red-light;

$color-footer: $color-white;
$color-footer-bg: $color-gray-medium;
$color-footer-link: $color-white;
$color-footer-icon: $color-gray-light;

$color-input: $color-gray-dark;
$color-input-bg: $color-white;
$color-input-border: $color-gray-medium;
$color-input-placeholder: $color-gray-light;

$color-button: $color-white;
$color-button-bg: $color-red-medium;
$color-button-big-border: $color-white;
$color-button-secondary-bg: $color-gray-dark;

$color-table-border: $color-gray-dark;

$color-toolbar: $color-gray-dark;
$color-toolbar-bg: $color-gray-lighter;
$color-toolbar-border: $color-gray-medium;
$color-toolbar-link: $color-red-medium;

$color-grid: $color-gray-dark;
$color-grid-link: $color-red-medium;

$color-account-box-border: $color-gray-dark;
$color-account-box-header: $color-gray-light;
$color-account-box-header-bg: $color-gray-medium;
$color-account-box-header-link: $color-white;

//-Patterns

//-Fonts
$font-family-sans: "Arial", "Helvetica", sans-serif;

$font-weight-light: 100;
$font-weight-medium: 400;
$font-weight-bold: 700;

//-Icons

//-Media Queries
$screen-size-10-and-down: "screen and (max-width: " + pxToEm(319) + ")";
$screen-size-10-and-up: "screen and (min-width: " + pxToEm(320) + ")";
$screen-size-20-and-down: "screen and (max-width: " + pxToEm(399) + ")";
$screen-size-20-and-up: "screen and (min-width: " + pxToEm(400) + ")";
$screen-size-30-and-down: "screen and (max-width: " + pxToEm(599) + ")";
$screen-size-30-and-up: "screen and (min-width: " + pxToEm(600) + ")";
$screen-size-40-and-down: "screen and (max-width: " + pxToEm(799) + ")";
$screen-size-40-and-up: "screen and (min-width: " + pxToEm(800) + ")";
$screen-size-50-and-down: "screen and (max-width: " + pxToEm(959) + ")";
$screen-size-50-and-up: "screen and (min-width: " + pxToEm(960) + ")";
$screen-size-60-and-down: "screen and (max-width: " + pxToEm(1023) + ")";
$screen-size-60-and-up: "screen and (min-width: " + pxToEm(1024) + ")";
$screen-size-70-and-down: "screen and (max-width: #{$width-frame-max})";
$screen-size-70-and-up: "screen and (min-width: #{$width-frame-max})";