/* line 3, product/list/_grid.scss */
.products-grid {
  margin-bottom: 1em;
  text-align: center; }

/* line 15, product/list/_grid.scss */
.flexbox .products-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

@media screen and (max-width: 37.4375em) {
  /* line 22, product/list/_grid.scss */
  .products-grid .item {
    width: 100%; } }
@media screen and (min-width: 37.5em) {
  /* line 30, product/list/_grid.scss */
  .products-grid .item {
    margin-right: 1em;
    margin-left: 1em;
    width: 50%; }
    /* line 34, product/list/_grid.scss */
    .products-grid .item:nth-child(odd) {
      margin-left: 0; }
    /* line 37, product/list/_grid.scss */
    .products-grid .item:nth-child(even) {
      margin-right: 0; } }
@media screen and (min-width: 50em) {
  /* line 46, product/list/_grid.scss */
  .products-grid .item {
    width: 33.33%; }
    /* line 48, product/list/_grid.scss */
    .products-grid .item:nth-child(3n-2) {
      margin: 0 1em 1em 0; }
    /* line 51, product/list/_grid.scss */
    .products-grid .item:nth-child(3n-1) {
      margin: 0 1em 1em 1em; }
    /* line 54, product/list/_grid.scss */
    .products-grid .item:nth-child(3n) {
      margin: 0 0 1em 1em; } }
@media screen and (min-width: 60em) {
  /* line 63, product/list/_grid.scss */
  .products-grid .item {
    width: 25%; }
    /* line 65, product/list/_grid.scss */
    .products-grid .item:nth-child(4n-3) {
      margin: 0 1em 1em 0; }
    /* line 68, product/list/_grid.scss */
    .products-grid .item:nth-child(4n-2) {
      margin: 0 1em 1em 1em; }
    /* line 71, product/list/_grid.scss */
    .products-grid .item:nth-child(4n-1) {
      margin: 0 1em 1em 1em; }
    /* line 74, product/list/_grid.scss */
    .products-grid .item:nth-child(4n) {
      margin: 0 0 1em 1em; } }
/* line 3, product/list/_item.scss */
.item {
  display: inline-block;
  margin-bottom: 1em; }
  /* line 6, product/list/_item.scss */
  .item a,
  .item img {
    display: block; }
  /* line 10, product/list/_item.scss */
  .item img {
    margin: 0 auto 0.5em auto; }
  /* line 13, product/list/_item.scss */
  .item .product-name {
    margin-bottom: 0.5em;
    font-size: 1.8rem; }
  /* line 17, product/list/_item.scss */
  .item .button {
    margin-bottom: 0.25em; }
  /* line 20, product/list/_item.scss */
  .item .add-to-links {
    font-size: 0.8em; }
    /* line 22, product/list/_item.scss */
    .item .add-to-links a,
    .item .add-to-links li {
      display: inline-block; }

/* line 3, product/cart/_cart.scss */
.cart-cell,
.add-to-cart-alt {
  text-align: center; }
