//Toolbar

.toolbar,
.toolbar-bottom {
	font-size: 1em;
}

.toolbar {
	padding: 1em;
	margin-bottom: 1em;
	background-color: $color-toolbar-bg;
	a {
		color: $color-toolbar-link;
	}
	label {
		display: inline;
		vertical-align: middle;
	}
	.back-to-top {
		display: none;
	}
}

.view-mode {
	display: none;
}

.pager {
	font-size: 0.9em;
	.amount,
	.limiter {
		display: inline-block;
		vertical-align: middle;
	}
}

.amount {
	margin: 0 1em 0 0;
}

.sort-by-switcher {
	display: inline-block;
	position: relative;
	overflow: hidden;
	margin-left: 0.5em;
	width: 2em;
	height: 1em;
	text-indent: -2pc;
}

.sort-by-switcher--asc,
.sort-by-switcher--desc {
	&:after {
		position: absolute;
		top: 0;
		right: 0;
		font-family: $font-family-icon;
	}
}

.sort-by-switcher--asc {
	&:after {
		content: $icon-caret-up;
	}
}

.sort-by-switcher--desc {
	&:after {
		content: $icon-caret-down;
	}
}

.no-flexbox {
	.sorter,
	.pager {
		display: inline-block;
		vertical-align: middle;
	}
}

.flexbox {
	.toolbar {
		display: flex;
		.sorter,
		.pager {
			flex-grow: 1;
		}
	}
}

@include breakpoint($width-40-and-up) {
	.toolbar {
		.pager {
			text-align: right;
		}
	}
}